#header{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav{
    margin: 10px;
    width: 80%;
    height: 80px;
    background: #000000;
    box-shadow: 0px 0px 30px rgba(57, 57, 57, 0.64);
    border-radius: 110.667px;
    display: flex;   
    align-items: center;
    text-align: center;
}
.nav-title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;

}
.fa-cart-shopping{
    color: #fff;
    font-size: 35px;
    margin-right: 50px;
    
}
.fa-circle-user{
    color: #fff;
    font-size: 35px;
    margin-right: 20px;
}
.fa-arrow-left{
    color: #fff;
    font-size: 35px;
    margin-left: 50px;
}



