@media only screen and (max-width: 600px) {
    #footer {
        width: 125px;
        height: 45px;
    }

    .foot-subt {
        font-size: 13px;
    }

    .foot-title {
        font-size: 35px;
    }
}