@media only screen and (max-width: 600px){
    nav{
        margin-top: 20px;
        width: 90%;
        height: 80px;
    }
    .nav-title{
        font-size: 30px;
    }
    .fa-arrow-left{
        font-size: 25px;
        margin-left: 30px;
    }
    .fa-cart-shopping{
        font-size: 25px;
        margin-right: 30px;
    }
    .fa-circle-user{
        font-size: 25px;
        margin-right: 15px;
    }
}